{% capture location %}{{page.url | split:'/'}}{% endcapture %}
<nav>
  <ul class="nav--main">
    {% for page in site.pages %}
      {% assign current = page.title | downcase %}
      {% if page.menu == 'main' %}
        {% if page.title %}
          <li {% if location == current%} class="page-link active" {% else %} class="page-link" {% endif %}>
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.headline }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
<header>
  <h1>
    <a href="{{ site.baseurl }}/">{{ site.title }}</a><br><small>{{site.sub_title}}</small>
  </h1>
</header>

