.resume
  &--items
    width: 100%
    @extend %default-transition
    img, a, span
      vertical-align: middle
    img
      display: inline-block
      height: 32px
    a, span
      display: inline-block
      line-height: 32px
    +media-min(650px)
      +display-flex
      +flex-wrap(wrap)
      .card
        +flex(1 0 45%)
        margin: 0 $small-padding $default-padding
        +flex-align-items(top)
    +media-min(1400px)
      .card
        +flex(1 0 20%)