---
layout: default
---
<section class="portfolio--single">
  <header>
    <h1>{{page.title}}</h1>
    <img src="/assets/images/portfolio/{{page.image}}.png" alt="{{page.title}}" class="img-responsive">
  </header>
  <article class="portfolio--content">
    <h1>Portfolio Item: {{page.title}}</h1>
    <h2>Objective</h2>
    <p>{{page.objective}}</p>
    <h2>My role</h2>
    <p>{{page.my_role_on_project}}</p>
    <h2>Creative Process</h2>
    <p>{{page.creative_process}}</p>
    <h2>Project Duration</h2>
    <p>{{page.project_duration}}</p>
    <h2>Design Challenge</h2>
    <p>{{page.design_challenge}}</p>
    <h2>Design Challenge Resolution</h2>
    <p>{{page.challenge_resolution}}</p>
    <h2>Business Results</h2>
    <p>{{page.business_result}}</p>
    <a href="/portfolio" class="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
        <path d="M11.56 5.56L10.5 4.5 6 9l4.5 4.5 1.06-1.06L8.12 9z"/>
      </svg>
    </a>
  </article>
</section>