---
layout: default
---
<header>
  <h1>{{ page.title }}</h1>
</header>
<section class="post">
  <article class="post--content">
    {{ content }}
  </article>
</section>




<!-- ---
layout: default
---
<div id="index-banner" class="parallax-container">
  <div class="parallax"><img src="{{ site.baseurl }}/assets/{{page.main_image}}" alt=""></div>
</div>
<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <div class="row">
            <h1 class="header">{{ page.title }}</h1>
            <small>Published: {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by: {{ page.author }}{% endif %}</small>
            <article class="post-content">
              {{ content }}
              {% if page.video_main %}
              <video controls>
                <source src="{{page.video_main}}">
                  {% if page.video_main %}
                  <source src="{{page.video_secondary}}">
                    {% endif %}
                    {% if page.video_caption %}
                    <track kind="subtitles" src="{{ site.baseurl}}/assets/captions/{{page.video_caption}}" srclang="en" label="English">
                      {% endif %}
                </video>
                {% endif %}
              {% if page.flickr_attribution %}
                <div class="card-panel center-align">
                  <small>Thank you to <a href="{{ page.flickr_link }}" target="_blank">{{ page.flickr_attribution }}</a> for the use of this great photograph. Cropped from original size. <a href="{{page.flickr_license}}" target="_blank">License</a>.</small>
                </div>
              {% endif %}
            </article>
          </div>
        </div>
      </div>
    </div>
</div>
</div> -->